
body {
    flex: auto;
    background-image: url(/images/pexels-aysegul-aytoren-46790226-12257034.jpg);
    height: 43vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}
@font-face {
    font-family: 'grid';
    src: url(/fonts/BitcountGridDouble-VariableFont_CRSV\,ELSH\,ELXP\,slnt\,wght.woff2);
}

#background {
    display: flex;
    flex-direction: column;
    background-color: rgb(0 0 0 / 50%);
    border-radius: 10px;
    align-self: center;
    justify-self: center;
    width: 90%;

}
#pageContent {
    display: flex;    
    flex-direction: row;
}


#logotext {
    font-family: 'grid';
    color: white;
    font-size: 60px;
    text-align: center;
}

#orange {
    display: flex;
    width: 40%;
    align-self: center;
    margin: 5%;
}

#content {
    flex: auto;
    width: 60vw;
    height: 53vw;
    background-color: lightgray;
    justify-items: center;
    border-radius: 1%;
}

#logoSection {
    flex: auto;
    width: 30vw;
    height: 53vw;
}

#headertext {
    /*position: absolute;
     top: 90px;
    left: 550px;*/
    flex: auto;
    margin-top: 10%;
    font-size: x-large;
    font-weight: 700;
   
}


.formContainer {
    display: flex;
    background-color: white;
    width: 95%;
    height: 40%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
            box-shadow: 5px 5px 5px gray;

}

form {
    display: flex;
    flex-direction: row;
    gap: 10%;
}

#submitButton {
    position: absolute;
    inset-inline-start: 60%;
    inset-block-start: 600px;
    height: 40px;
    width: 200px;
    font-size: large;
    border-radius: 30px;
    border: none;
}

#submitButton:hover {
    color: white;
    background-color: rgb(232 144 70);
    box-shadow: 5px 5px 5px gray;

}

#password:invalid {
    border-color: red;
}

input, label {
    display: block;
    width: 80%;
    height: 50%;
    font-size: larger;

}

 input:focus {
    box-shadow: 5px 5px 5px gray;
 }

 input:required {
    border-color: none;
 }

.formDiv {
    width: 22em;
    height: 300px;
    gap: 15%;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1%;
    margin: 40px;
}

#account {
    flex: auto;
    margin-top: 15%;
}

#signIn {
    border: none;
    border-radius: 10px;
}

#signIn:hover {
    color: white;
    background-color: rgb(232 144 70);
    box-shadow: 5px 5px 5px gray;

}

.credits {
    color: white;
    margin-top: 75%;
}
/** {
    border: solid;
}