body {
    flex: auto;
    background-image: url(/images/pexels-aysegul-aytoren-46790226-12257034.jpg);
    height: 43vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

#pageContent {
    display: flex;    
    flex-direction: row;
}

#content {
    flex: auto;
    width: 50vw;
    height: 53vw;
    background-color: lightgray;
    align-content: center;
    justify-items: center;
}

#logoSection {
    flex: auto;
    width: 30vw;
    height: 53vw;
    outline: solid;
}

.headerText {
    font-size: x-large;
    font-weight: 700;
    
}